


/* Small Screen */
@media (min-width: 50px) {
  .container {
    max-width: 900px; }
  .search-bar {
    display:block;
  }  
  .navbar-list {
    display: none; 
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  .navicon {
    display:block;
    position:fixed; 
    right:10px;
    top:10px;
    font-size:30px;
    text-decoration: none;
  }
  .navbar {
    display: inline-block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
  }

  .navbar-link {
    text-transform: uppercase;
    line-height: 3.5rem;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #FFF;
  }
  .navbar-link.active {
    color: #33C3F0;
  }



  .logo {
    position:fixed; 
    top:10px;
  }
}





/* Larger than tablet */
@media (min-width: 750px) {
.container {
  max-width: 900px; }
.navbar {
  display: none; }
  .search-bar {
    display:none;
  }



  .logo {
    position:fixed; 
    top:10px;
  }

  /* Navbar */
  .navbar {
    padding-left: 200px;
    left: 0px;
  }

  .navicon {
    display:none;
  }
  .navbar {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    display: block;
    background-color: #FFF;
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: -20px; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  }


/* Large */
@media (min-width: 920px) {
  .search-bar {
    display:block;
  }
}




/* add */
.add-button {
  float:right;
  display: inline-block;
  height: 18px;
  padding: 0 30px;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

/* delete */
.del-button {
  display: inline-block;
  height: 18px;
  padding: 0 30px;
  color: #FF0000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
}

/* Dashboard Box */
.dash-box {
  box-shadow: 0px 0px 3px #666;
  display: inline-block;
  min-height: 50px;
  padding: 0 30px;
  color: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
}
/* Dashboard Box */
.cat-box {
  display: inline-block;
  min-height: 45px;
  padding: 30px;
  color: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
}
/* Doc Box */
.doc-box {
  display: inline-block;
  min-height: 45px;
  border-radius: 4px;
  border: 1px solid #bbb;
}


/* Login Box */
.login-box {
  width: 400px;
}


/* Grid View */
* {
 box-sizing: border-box;
}

.company-grid {
  border-collapse: collapse;
  min-width: 100%;
}


thead,
tbody,
tr {
  width:100%;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}
